* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    background: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }

  body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: black;
  }

#first {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 300px;
}

#second {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 480px;
  will-change: transform;
  border-radius: 20px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.mainbox{
  height: stretch;
    width: 100%;
    
}

.loginform{
  flex-grow: 1;
  align-self: center;
  justify-self: center;
  align-items: center;
}
.tempform{
  flex-grow: 1;
  align-items: center;
}
