.mainbox{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: nowrap;
}
.leftbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #dddddd;
}
.middlebox{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #dddddd;
}
.rightbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
    background-color: #dddddd;
}
.table{
    background-color:#86ef94;
    width:200px;
    height:200px;
    text-align:center;
    font-size:12px;
}
.oponent-status{
    flex-grow: 1;
    display: flex;
    background-color: #e0e0e0;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
}
.game-status{
    flex-grow: 1;
    background-color: aqua;
}
.my-status{
    flex-grow: 2;
    background-color: #e0e0e0;
    text-align: center;
    flex-direction: column;
}
.opo-player-right{
    background-color: #ffffff;
    text-align: center;
    flex-grow: 1;
    display:block;
    flex-direction: column;
    border-radius: 20px 0% 0% 20px;
    margin-left: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.opo-player-left{
    background-color: #ffffff;
    text-align: center;
    flex-grow: 1;
    display:block;
    flex-direction: column;
    border-radius: 0% 20px 20px 0%;
    margin-right: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.opo-player-right:hover{
    background-color: #f0f0f0;
}
.opo-player-right:first-child{
    margin-top: 30px;
    margin-bottom: 30px;
}
.opo-player-right + .opo-player-right {
    margin-bottom: 30px;
}
.opo-player-left:hover{
    background-color: #f0f0f0;
}
.opo-player-left:first-child{
    margin-top: 30px;
    margin-bottom: 30px;
}
.opo-player-left + .opo-player-left {
    margin-bottom: 30px;
}

.chip {
    border-radius: 10px;
    background-color: #fff3f3;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.exitBtn{
    /* position:absolute;
    left: 1000px;
    bottom: 20px; */
    width: 75px;
    height: 50px; 
    /* flex-grow: 1; */
}
.startBtn{
    /* position:absolute;
    left: 100px;
    bottom: 20px;*/
    width: 75px;
    height: 50px; 
    /* flex-grow: 1; */
}
.roomTitle{
    position:absolute;
    left: 20px;
    top: 40px;
}
.roomNumber{
}

.closeicon{
    position: block;
    opacity: 0;
    float: right;
    width: 20px;
    height: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.opo-player:hover .closeicon{
    opacity: 1;
}

.hexTable{
    width: 440px;
    height: 440px;
}