
.mainbox {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-between;
  flex-wrap: nowrap;
}

.leftbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.middlebox {
  flex-grow: 3;
  /* display: flex; */
  /* flex-direction: column;
    align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.rightbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
}

.table {
  background-color: #86ef94;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 12px;
}

.chiptable {
  position: absoulte;
  width: 9rem;
  height: 9rem;
  margin-bottom: 200px;
  margin-left: 140px
}

.oponent-status {
  flex-grow: 1;
  display: flex;
  background-color: #e0e0e0;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
}

.game-status {
  flex-grow: 1;
  background-color: aqua;
}

.my-status {
  flex-grow: 2;
  background-color: #e0e0e0;
  text-align: center;
  flex-direction: column;
}

.opo-player-right {
  background-color: #bbbbbb;
  text-align: center;
  flex-grow: 1;
  display: block;
  flex-direction: column;
  border-radius: 100% / 100% 20% 20% 100%;
  margin-left: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 2vh;
}

.opo-player-left {
  background-color: #bbbbbb;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 100% / 20% 100% 100% 20%;
  margin-right: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 20%;
}

/* .opo-player-left {
    text-align: center;
    flex-grow: 1;
    display: block;
    flex-direction: column;
    margin-right: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
} */

.opo-player-right:hover {
  background-color: #f0f0f0;
}

.opo-player-right:first-child {
  margin-top: 50px;
  margin-bottom: 50px;
}

.opo-player-right + .opo-player-right {
  margin-bottom: 50px;
}

.opo-player-left:hover {
  background-color: #f0f0f0;
}

.opo-player-left:first-child {
  margin-top: 50px;
  margin-bottom: 50px;
}

.opo-player-left + .opo-player-left {
  margin-bottom: 50px;
}

/* div.opo-player-left,#myTurn {
    border: 5px solid #4263eb;
}
div.opo-player-left,#notmyTurn {
    border: 3px none black;
}

div.opo-player-right,#myTurn {
    border: 5px solid #4263eb;
}
div.opo-player-right,#notmyTurn {
    border: 3px none black;
} */

.cardShow {
  display: flex;
  background-color: #ced4da;
  width: 340px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  flex-grow: 1;
  border-radius: 80px;
  border: 10px solid #0e2079;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2); */
}

.chip {
  border-radius: 25px;
  background-color: #fff3f3;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.chip-y {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.8s cubic-bezier(1,0,1,1.07);
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.chip-x {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a75248;
  transition: all 0.8s linear;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  /* animation: rainbow 0.5s linear infinite; */
}
@keyframes rainbow {
  0% {
    filter:hue-rotate(0deg);
  }
  100% {
    filter:hue-rotate(360deg);
  }
}
.exitBtn {
  position: absolute;
  bottom: 10%;
  display:block;
  font-family: "futura";
  font-size: 2.3em;
  color: rgba(65, 216, 27, 0.6);
  opacity: 0.3;
  font-weight:800;
  transition:0.4s;
  text-align: center;
}

.exitBtn:hover {
  opacity: 1;
  
}

.exitBtntext {
  font-family: "futura";
}

.startBtn {
  position: absolute;
  top: 10%;
  display:block;
  font-family: "futura";
  font-size: 3em;
  color:#ced4da;
  font-weight:800;
  cursor: pointer;
  transition:0.4s;
}

.startBtn:hover {
  color:rgb(184, 55, 55);
  text-shadow:2px 5px 0 rgba(136, 33, 33, 0.6)
}

.Round {
  position: absolute;
  top: 10%;
  display:block;
  font-family: "futura";
  font-size: 3em;
  color:#ced4da;
  font-weight:800;
  transition:0.4s;
}

.closeicon {
  position: block;
  opacity: 0;
  float: right;
  width: 20px;
  height: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.opo-player:hover .closeicon {
  opacity: 1;
}

.hexTable {
  width: 440px;
  height: 440px;
}
.activeBid {
  color: red;
}
.Bid:last-child {
  border-bottom: 1px solid black;
}
.chipBox {
  width: 100px;
  height: 50px;
  background: #00b7ff;
}

.Bids {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Bids,
#Me {
  opacity: 1;
}

.Chip {
  cursor: pointer;
}

.nackchalItem {
  cursor: pointer;
}
.nackchalItem_notmyTurn {
  cursor: none;
}

.myChips {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
}
.myChipsNum {
  flex-grow: 1;
}
.ChipForBet {
  flex-grow: 1;
}
.instruction {
  font-size: x-large;
}

.playerNameLeft {
  font-family: 'futura';
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  top: 52%;
  left: -25%;
  font-size: 20px;
  font-weight: 500;
}
.playerNameLeftMy {
  font-family: 'futura';
  color: yellow;
  transform: rotate(-90deg);
  position: absolute;
  top: 52%;
  left: -25%;
  font-size: 20px;
  font-weight: 500;
}
.playerNameRight {
  font-family: 'futura';
  color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 52%;
  right: -25%;
  font-size: 20px;
  font-weight: 500;
}
.playerNameRightMy {
  font-family: 'futura';
  color: yellow;
  transform: rotate(90deg);
  position: absolute;
  top: 52%;
  right: -25%;
  font-size: 20px;
  font-weight: 500;
}

.shootLeft {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: -100;
    transform: rotate(0deg);
}
.shootRight {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: -100;
    transform: rotate(0deg);
}

.rocketTextLeft {
  background-color: #444444aa;
  width: 180px;
  height: 140px;
  transform: rotate(-90deg);
  position: absolute;
  right: -10px;
  bottom: 16%;
  border-radius: 25%;
  padding: 14px;
}
.rocketTextRight {
  background-color: #444444aa;
  width: 180px;
  height: 140px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 16%;
  right: -10px;
  border-radius: 25%;
  padding: 14px;
}

div.rocket-body,
#myTurn {
  animation: bounce 0.5s infinite;
  opacity: 1;
}
div.rocket-body,
#notmyTurn {
  animation: nobounce 0.5s infinite;
  opacity: 1;
}
div.rocket-body,
#nowon {
  animation: nobounce 0.5s infinite;
  opacity: 0;
}

.rocket-left {
  text-align: center;
  flex-grow: 1;
  display: absolute;
  flex-direction: column;
  width: 200px;
  height: 20%;
  transform: rotate(90deg);
  margin-left: 30%;
  margin-top: 10%;
}
.rocket-left .rocket-body {
  width: 160px;
  left: calc(50% - 50px);
}
.rocket-left .rocket-body .body {
  background-color: #c0c0c0;
  height: 300px;
  left: calc(50% - 50px);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-bottom: 5px solid #a5a5a5;
  border-right: 10px solid #a5a5a5;
}
.rocket-left .rocket-body:before {
  content: "";
  position: absolute;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background-color: #554842;
  bottom: -13px;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
}
.rocket-left .window {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #a75248;
  left: calc(50% - 30px);
  top: 20px;
  border: 5px solid #949191;
  cursor: pointer;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "futura";
  color: #c0c0c0;
  font-weight: bolder;
}
.rocket-left .fin {
  position: absolute;
  z-index: -100;
  height: 65px;
  width: 65px;
  background-color: #a75248;
}
.rocket-left .fin-left {
  left: -20px;
  top: calc(100% - 65px);
  border-top-left-radius: 80%;
  border-bottom-left-radius: 20%;
}
.rocket-left .fin-right {
  right: -20px;
  top: calc(100% - 65px);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 20%;
  border-bottom: 4px solid #94453c;
  border-right: 5px solid #94453c;
}

.rocket-right {
  text-align: center;
  flex-grow: 1;
  display: absolute;
  flex-direction: column;
  width: 200px;
  height: 20%;
  transform: rotate(-90deg);
  margin-right: 20%;
  margin-top: -10%;
}
.rocket-right .rocket-body {
  width: 160px;
  left: calc(50% - 50px);
}
.rocket-right .rocket-body .body {
  background-color: #c0c0c0;
  height: 300px;
  left: calc(50% - 50px);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-bottom: 5px solid #a5a5a5;
  border-left: 10px solid #a5a5a5;
}
.rocket-right .rocket-body:before {
  content: "";
  position: absolute;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background-color: #554842;
  bottom: -13px;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
}
.rocket-right .window {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #a75248;
  left: calc(50% - 30px);
  top: 20px;
  border: 5px solid #949191;
  cursor: pointer;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "futura";
  color: #c0c0c0;
  font-weight: bolder;
}
.rocket-right .fin {
  position: absolute;
  z-index: -100;
  height: 65px;
  width: 65px;
  background-color: #a75248;
}
.rocket-right .fin-left {
  left: -20px;
  top: calc(100% - 65px);
  border-top-left-radius: 80%;
  border-bottom-left-radius: 20%;
  border-bottom: 4px solid #94453c;
  border-left: 5px solid #94453c;
}
.rocket-right .fin-right {
  right: -20px;
  top: calc(100% - 65px);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 20%;
}

@keyframes bounce {
  50% {
    transform: translate3d(0px, -5px, 0);
  }
}
@keyframes nobounce {
  50% {
    transform: translate3d(0px, 0px, 0);
  }
}

.space {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.moon {
  background: #d8d8d8;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: inset -12px -12px 0 0 #b6b6b6;
  position: absolute;
}
.crater {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-160%, -70%);
  width: 21%;
  height: 21%;
  background-color: #b6b6b6;
  box-shadow: inset 4px 4px 0 0 #999;
  border-radius: 50%;
}
.crater:nth-child(2) {
  transform: translate(10%, -140%) scale(0.7);
}
.crater:nth-child(3) {
  transform: translate(10%, 30%) scale(0.5);
}
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(0deg);
  width: 11.7rem;
  height: 11.7rem;
  z-index: 10;
  animation: orbit 4s cubic-bezier(0, 0, 0.5, 1) forwards;
}
.rocket {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  animation: landing 1.6s cubic-bezier(0.42, 0, 0.55, 1) 2.5s forwards;
}
.rocket::before {
  content: '';
  position: absolute;
  top: -0.3157894737rem;
  right: -0.3157894737rem;
  border: 8px solid transparent;
  border-radius: 100% 0 100% 50%;
  border-left-color: #e07575;
  border-bottom-color: #e07575;
}
.rocket::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #eee;
  border-radius: 100% 0 100% 0;
}
@keyframes orbit {
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(-345deg);
 }
}
@keyframes landing {
  100% {
    transform: translate3d(140%, 140%, 0) rotate(90deg);
 }
}

.moonlight-perspective {
  position: absolute;
  width: 110px;
  height: 200px;
  bottom: 60px;
  right: 20px;
  perspective: 150px;
  -webkit-perspective: 150px;
  transform: rotate(180deg);
  animation: pisca 15s infinite;
  z-index: -3;
}

.moonlight {
  position: absolute;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff, transparent);
  background-size: 150px 200px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

