.mainbox{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: nowrap;
}
.leftbox{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    background-color:#86ef94;
    width:300px;
    height:300px;
    border-radius:150px;
    text-align:center;
    font-size:12px;
    line-height:300px;
}
.rightbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oponent-status{
    flex-grow: 2;
    background-color: #efe886;
    display:flex;
    flex-direction: row;
}
.game-status{
    flex-grow: 1;
    background-color: aqua;
}
.my-status{
    flex-grow: 2;
    background-color: #e0e0e0;
}
.opo-player{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.chip {
    border-radius: 10px;
    background-color: #fff3f3;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.exitBtn{
    position:absolute;
    left: 20px;
    bottom: 20px;
    width: 75px;
    height: 50px;
}