.Container {

    height: stretch;
    width: 100%;

    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    /* background-image: url("./table.jpeg");
    background-size: contain; */
}

.outer {
  width:20rem;
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.front {
    background-color: white;
    font-size: 2rem;
    width:20rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  }

.back {
  background-image: url("./cardback.png");
  background-size: contain;
  width:20rem;
  height: 28rem;
  will-change: transform, opacity;
  display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.inner {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 7px;
    font-family: "cardfont";
}

.spade {
    text-align: right;
    margin-right: 24px;
}

.username {
    text-align: center;
    padding: 18px;
    font-family: "cardfont";
}

.gameicon {
    text-align: center;
    padding:18px;
}

.people {
    text-align: center;
    padding: 18px;
    font-family: "futura";
    font-weight: bold;
}

.spade2 {
    text-align: right;
    padding-right: 23px;
    transform: rotate(180deg);
}

.end {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 30px;
    transform: rotate(180deg);
    font-family: "cardfont";
}

.plus{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    color: white;
    text-align: center;
    padding-top: 70px;
    font-family: "futura";
    font-size: 40px;
}